* {
	box-sizing: border-box;
}
body{
	background-color: #2D112B ;
}
nav{
	position: fixed;
	left: 0;
	right: 0;
	background-color: #ff5b19;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
	font-size: 0;
}

nav ul li { font-size: 13px; display: inline-block; padding: 0; margin: 0; }

nav ul li a{
	font-family: 'Advent Pro', sans-serif;
	font-size: 2.3em;
	text-decoration: none;
	height: 100%;
	width: auto;
	display: inline-block;
	padding: 40px 40px;
	color: #fff;
	background-color: #ff5b19; 
}

nav ul li a:hover{ 
	background-color: #ff7740;
		color: #2D112B;
}
.about{width:25%}
.officers{width:25%}
.projects{width:25%}
.contact{width:25%}

.announcements-stream{
	height:304px;
	width:740px;
	text-align:left;
	color:#51585e;
	position: absolute;
	top: 100px;
	margin: 60px;
}
.announcement-card{
	border-radius: 3px;
    box-shadow: 4px 4px 4px black;
    border: 1px solid #dedfe9;
    background: #fff;
    margin: 10px 20px 0 20px;
    padding: 10px;
    text-align: left;
}
.announcements-header{
	position:relative;
	padding-left:25px;
	margin-bottom:8px;
	min-height:20px;
	line-height:20px;
}
.announcement-title{
	margin-left: 100px;
}
.announcement-avatar{
	background-size: cover;
  	background-repeat: no-repeat;
	border-radius: 40px;
	border: 3px solid darkgray;
    height: 75px;
    width: 75px;
    position: relative;
    top: 30px;
    left: 10px;
}
.announcement-body{
	margin-top: 30px;
	margin-left: 30px;
	font-family: 'Open Sans', sans-serif;
	line-height: 40px;
}